* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Segoe UI;
    background: linear-gradient(to bottom, #180d27, #0c0219);
    margin: 0;
    min-height: 100vh;
  }
  #app{
    max-width: 40rem;
    margin: 2rem auto;
     color: #ffffff;
    background-color:#351B86;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    text-align: center;
  }

h1{
  text-transform: uppercase;
  letter-spacing: 2px;
  text-spacing: 0.1em;
}
#mg{
  background-color: #160C25;
  padding: 2px ;
}
